{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}

    <section class="relative py-24 px-4 text-center overflow-hidden">
        <div class="absolute inset-0 bg-gray-950 "></div>
        
        <div class="absolute left-4 sm:left-20 top-1/2 -translate-y-1/2">
            <img src="{{ asset('23-41-29-738_512.gif') }}" alt="" class="w-40 sm:w-64">
        </div>

        <div class="relative z-10">
            <p class="text-orange-400 uppercase tracking-[0.3em] text-sm font-semibold mb-3">Nos stars</p>
            <h1 class="font-bebas text-6xl sm:text-8xl text-white mb-4">
                LES <span class="text-orange-500">JOUEURS</span>
            </h1>
            <p class="text-gray-400 text-lg max-w-xl mx-auto">
                Découvrez les meilleurs joueurs de basketball de notre sélection
            </p>
        </div>

        <div class="absolute right-4 sm:right-20 top-1/2 -translate-y-1/2">
            <img src="{{ asset('22-37-05-587_512.gif') }}" alt="" class="w-40 sm:w-64">
        </div>

    </section>



    {% for player in players %}
        <div>
            <h2>{{ player.name }}</h2>
            <p>Position : {{ player.position }}</p>
            <p>Équipe : {{ player.team }}</p>
            <a href="{{ path('app_player_show', {id: player.id, slug: player.slug}) }}">
            Plus info
            </a>
        </div>
    {% endfor %}

{% endblock %}
