{% extends 'base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block body %}

    <a href="{{ path('app_player') }}"> Retour à la liste</a>

    <h1>{{ player.name }}</h1>
    <p><strong>Position :</strong> {{ player.position }}</p>
    <p><strong>Équipe :</strong> {{ player.team }}</p>
    <p><strong>Description :</strong> {{ player.description }}</p>

{% endblock %}