<h1>{{ 'resetPassword.emailHi'|trans }}</h1>

<p>{{ 'resetPassword.emailIntro'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'resetPassword.emailExpiry'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ 'resetPassword.emailCheers'|trans }}</p>
